
<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href='<%= url('/styles.css') %>'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>