<% if @project %>
  <h2>Project Title: <%= @project.title%></h2>
      
  <h4>Add a Volunteer:</h4>

  <form action="/projects/<%= @project.id %>/volunteers" method="post">
    <div class="form-group">
      <label for="volunteer">Volunteer Name</label>
      <input id="volunteer" name="volunteer" class="form-control" type="text" required>
    </div>
    <button type="submit" class="btn">Add Volunteer</button>
  </form>  
  
  <% if @volunteers.any? %>
    <ol>
      <% @volunteers.each do |volunteer| %>
        <li><%= volunteer.name %> </li>
      <% end %>
    </ol>

  <% else %>
    <p>There are no volunteers listed for this project yet.</p>
  <% end %>

  <p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>

  <p><a href="/projects">Return to Projects</a></p>

<% else %>
  <p>You are trying to visit the project details of a project that does not exist!</p>
  <p>To see active projects or create a new one, click <a href="/projects">here</a>.
<% end %>