<% if @project %>
  <h2>Project Title: <%= @project.title%></h2>

  <p><em>A list of all volunteers for project will be listed here</em></p>

  <p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>

  <p><a href="/projects">Return to Projects</a></p>

<% else %>
  <p>You are trying to visit the project details of a project that does not exist!</p>
  <p>To see active projects or create a new one, click <a href="/projects">here</a>.
<% end %>