<h1>Volunteer Tracker</h1>

<h6>To create a new project, add a project name to the form below and click the button 'Create Project'. This new project will be added to the list. Once a project is created, you will be able to manage project details.</h6>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Create a New Project</label>
    <input id="n" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-info">Create Project</button>
</form>

<a href="/volunteers">View All Volunteers</a>

<h3>Active Projects</h3>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display.</p>
<% end %>